html {
  min-height: 100%;
}
body {
  color: #100053;
  background: linear-gradient(157deg, rgba(189,88,255,1) 0%, rgba(68,0,207,1) 100%);
  background-repeat: no-repeat;
}

.main-row {
  max-width: 1200px;
}

.card-body {
  padding: 2rem 2rem;
}

.input-card {
  border-radius: 10px !important;
  box-shadow: 0px 3px 7px 1px rgb(0 0 0 / 45%);
}

.input-card-header {
  border-radius: 10px !important;
  background-color: #370067;
  padding: 1em;
  color: white;
  box-shadow: 0px 3px 7px 1px rgb(0 0 0 / 45%);
}

.input-form-control {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #707070;
  padding: 0;
  border-radius: 0 !important;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-addProduct {
  width: 160px;
  border-radius: 20px !important;
  background-color: #370067;
  color: white;
}

.btn-clearAll {
  width: 160px;
  border-radius: 20px !important;
  background-color: #FF00CC;
  color: white;
}
.remove {
  width: 100px;
  border-radius: 20px !important;
  background-color: #FF00CC;
  color: white;
}

.btn-addProduct:hover,
.btn-clearAll:hover,
.remove:hover {
  color: white;
}

.btn-addProduct:focus,
.btn-clearAll:focus,
.remove:focus,
.form-switch .form-check-input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-switch .form-check-input {
  width: 4em;
  height: 2em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em;
  background-color: #CCCCCC;
  border-color: #CCCCCC;
}
.form-check-input:checked {
  background-color: #370067;
  border-color: #370067;
}
.table tbody tr td{
  vertical-align: middle;
}